[submodule "vendor/ZendPaginatorAdapter"]
	path = vendor/ZendPaginatorAdapter
	url = git://github.com/ornicar/ZendPaginatorAdapter.git
[submodule "vendor/zend_full"]
	path = vendor/zend_full
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/doctrine-extensions"]
	path = vendor/doctrine-extensions
	url = git://github.com/Herzult/DoctrineExtensions.git
[submodule "vendor/Doctrine2-Sluggable-Functional-Behaviour"]
	path = vendor/Doctrine2-Sluggable-Functional-Behaviour
	url = git://github.com/ornicar/Doctrine2-Sluggable-Functional-Behavior.git
